

<nav class="navbar navbar-expand-lg navbar-light bg-dark" *ngIf="showMenu">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLinkActive="active" routerLink="" style="color: aliceblue;" class="nav-link active" aria-current="page" href="#">Home</a>
        <a routerLinkActive="active" routerLink="/teacher"  style="color: aliceblue;" class="nav-link">Professores</a>
        <a routerLinkActive="active" routerLink="/cursos"  style="color: aliceblue;" class="nav-link">Cursos</a>
        <!-- <a routerLinkActive="active" routerLink="/login"  style="color: aliceblue;" class="nav-link">Login</a> -->
      </div>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>